* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  color: #fff;
}

body {
  background: #dcdcdc;
}

.flip-card {
  background-color: transparent;
  width: 400px;
  height: 600px;
  margin: 100px auto;
  position: relative;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fff;
  color: black;
}

.flip-card-back {
  background-color: #fff;
  color: black;
  transform: rotateY(180deg);
}

#flex-container0 {
  display: flex;
  flex-direction: column;
}

#flex-container0 > .box0-0 {
  flex: 1 200px;
}

.fit-picture {
  width: 400px;
}

#flex-container0 > .box0-1 {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.box0-1 > #text0 {
  font-size: 1.5rem;
  color: purple;
  font-family: sans-serif
}

.box0-1 > #text1 {
  font-size: 1.2rem;
  color: black;
  font-family: sans-serif
}

.box0-2 > #text2 {
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 100;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  color:  grey;
}

.box0-3 > #flex-container1{
  display: flex;
  flex-direction: column;
}

.box1-0 > #flex-container2 {
  display: flex;
  flex-direction: row;
}

#precent {
  flex: 1 200px;
  color: black;
  text-align: left;
  margin-left: 20px;
  font-size: 1.2rem;
  font-family: sans-serif;
}

#donors {
  font-size: 1.2rem;
  font-family: sans-serif;
  flex: 1 200px;
  text-align: right;
  margin-right: 20px;
  color: black;
}

.box1-1 {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
}

.box1-1 > #bar {
  width: 100%;
  height: 40px;
  color: black;
  text-align: left;
  background-color: #ddd;
}

#barPrecentage {
  width: 0%; 
  height: 40px;
  color: purple;
  background-color: purple;
}

.box1-2 > #flex-container3 {
  display: flex;
  flex-direction: row;
}

#active {
  font-weight: 100;
  flex: 1 200px;
  text-align: left;
  margin-left: 20px;
  color: grey;
  font-size: 1.2rem;
  font-family: sans-serif;
}

#donated {
  flex: 1 200px;
  text-align: right;
  margin-right: 5px;
  color: black;
  font-size: 1.2rem;
  font-family: sans-serif;
}

#donatedText {
  flex: 1 0px;
  text-align: right;
  margin-right: 20px;
  color:  grey;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 100;
}

